{% extends 'index.html' %}

{% block content %}
	<h1>{{ pagename|title }}</h1>
	<h3>{{ author }}</h3>
	<p>{{ article }}</p>

	<form id="commentaire" name="commentaire" method="post" action="">
		<p> 
			<label>Pseudo :</label>
			<input type="text" name="pseudoCommentaire" />
			<label>Mail :</label>
			<input type="text" name="mailCommentaire" />
			<label>Message :</label>
			<input type="text" name="messageCommentaire"/>
			<input type="submit" value="Poster" name="postCommentaire" />
		</p>
	</form>

	<h2>Commentaire</h2>
	<p>Dernier ajout <strong>{{ pseudo }}</strong> - <strong>{{ mail }}</strong></p>
	<ul>
		{% for com in commentaires %}
			<li class="first">
			{{ com }}
			</li>
		{% endfor %}
	</ul>
{% endblock %}