{% extends 'index.html' %}

{% block content %}

<h1>Bienvenue sur le blog du TP de NodeJs</h1>
	{% for article in articles %}
		<div class="article">
			<p>
				<h1>{{ article.title }}</h1>
				<h5>{{ article.date.getDate() + '/' + 
                                  (article.date.getMonth()+1) + '/' +
                                   article.date.getFullYear() + ' ' +
                                   article.date.toLocaleTimeString()}} par {{ article.author }}</h5>

				{{ article.excerpt }} <br />
				<a class="suitelink" href="/article?id={{ article._id.toString() }}"></a>
			</p>
		</div>
		<div class="separateur"></div>		
	{% endfor %}
	
{% endblock %}
