{% extends 'index.html' %}

{% block content %}
<p><a href="/">Go back</a></p>
	<fieldset>
		<legend>ARTICLE</legend>
		<h1>{{ article.title }}</h1>
		<h5>{{ article.date.toString() }} par {{ article.author }}</h5>
		<p>{{ article.text }}</p>
	</fieldset>

	<fieldset>
		<legend>COMMENTEZ</legend>
		<table border="0">
			<form method="post" action="article">
				<tr>
					<td><label>Pseudo :</label></td>
					<td><input type="text" name="authorPseudo" /></td>
				</tr>
				<tr>
					<td><label>Mail :</label></td>
					<td><input type="text" name="authorMail" /></td>
				</tr>
				<tr>
					<td><label>Message :</label></td>
					<td><textarea name="messageCommentaire" cols="80" rows="20">
						</textarea></td>
				</tr>
				<tr>
					<td><input type="submit" value="Poster" name="postCommentaire" /></td>
				</tr>

				<input type="hidden" name="idArticle"
					value="{{ article._id.toString() }}" />
			</form>
		</table>
	</fieldset>

	<fieldset>
		<legend>COMMENTAIRES</legend>
		<ul>
			{% for comment in commentaires %}
			<p>
				<li>
					<a href="mailto:{{ comment.authorMail }}">
					{{ comment.authorPseudo }}</a> le {{ comment.date.toString() }}.
				</li>
				<li>
				{{ comment.text }}
				</li>
			</p>
			{% endfor %}
		</ul>
	</fieldset>
{% endblock %}