{% extends 'index.html' %}

{% block content %}
<p><a href="/">Go back</a></p>
	<fieldset>
		<legend>ARTICLE</legend>

		{% if user.typeUser == 1 %}
			<form method="post" action="edit">
				<input type="submit" value="editArticlePage" name="edit"/>
				<input type="hidden" value="{{ article._id.toString() }}" name="idArticleEdit" />
			</form>
			<form method="post" action="delete">
				<input type="submit" value="DeleteArticle" name="delete"/>
				<input type="hidden" value="{{ article._id.toString() }}" name="idArticleDelete" />
			</form>
		{% endif %}

		<h1>{{ article.title }}</h1>
		<h5>{{ article.date.getDate() + '/' + 
                                  (article.date.getMonth()+1) + '/' +
                                   article.date.getFullYear() + ' ' +
                                   article.date.toLocaleTimeString()}} par {{ article.author }}</h5>
		<p>{{ article.text }}</p>
	</fieldset>

	<fieldset>
		<legend>COMMENTEZ</legend>
		{% if user.typeUser != 0 %}
			<table border="0">
				<form method="post" action="article">					
					<input type="hidden" name="authorId" 
						value="{{ user._id.toString() }}" />
					<input type="hidden" name="idArticle"
						value="{{ article._id.toString() }}" />
					<tr>
						<td><label>Message :</label></td>
						<td><textarea name="messageCommentaire" cols="80" rows="20" placeholder="Votre commentaire ici..."></textarea></td>
					</tr>
					<tr>
						<td><input type="submit" value="Poster" name="postCommentaire" /></td>
					</tr>
				</form>
			</table>
		{% else %}
			<p>Connectez-vous pour poster un commentaire.</p>
		{% endif %}
	</fieldset>	

	<fieldset>
		<legend>COMMENTAIRES</legend>
		<ul>
			{% for comment in commentaires %}

			<!-- Swig ne semble pas prendre en compte le OR et le AND donc scission en plusieurs IF. -->
			{% if user.typeUser == 2 %}
				{% if user._id.toString() == comment.idAuthor %}
					<form method="post" action="edit">
						<input type="submit" value="editCommentPage" name="edit"/>
						<input type="hidden" value="{{ comment._id.toString() }}" name="idCommentEdit" />
					</form>
					<form method="post" action="delete">
						<input type="submit" value="DeleteComment" name="delete"/>
						<input type="hidden" value="{{ comment._id.toString() }}" name="idCommentDelete" />
					</form>
				{% endif %}
			{% endif %}
			{% if user.typeUser == 1 %} 
				<form method="post" action="edit">
					<input type="submit" value="editCommentPage" name="edit"/>
					<input type="hidden" value="{{ comment._id.toString() }}" name="idCommentEdit" />
				</form>
				<form method="post" action="delete">
					<input type="submit" value="DeleteComment" name="delete"/>
					<input type="hidden" value="{{ comment._id.toString() }}" name="idCommentDelete" />
					<input type="hidden" value="{{ article._id.toString() }}" name="idArticle" />
				</form>
			{% endif %}

			<p>
				<li>
					<a href="mailto:{{ comment.authorMail }}">
					{{ comment.authorPseudo }}</a> le {{ article.date.getDate() + '/' + 
					                                  (article.date.getMonth()+1) + '/' +
					                                   article.date.getFullYear() + ' ' +
					                                   article.date.toLocaleTimeString()}}
					                                    par {{ article.author }}.
				</li>
				<li>
				{{ comment.text }}
				</li>
			</p>
			{% endfor %}
		</ul>
	</fieldset>
{% endblock %}