{% extends 'index.html' %}

{% block content %}

	<h1>{{ article.title }}</h1>
	<h5>{{ article.date}} par {{ article.author }}</h5>
	<p>{{ article.text }}</p>	

	<form id="commentaire" name="commentaire" method="post" action="">
		<p> 
			<label>Pseudo :</label>
			<input type="text" name="pseudoCommentaire" />
			<label>Mail :</label>
			<input type="text" name="mailCommentaire" />
			<label>Message :</label>
			<input type="text" name="messageCommentaire"/>
			<input type="submit" value="Poster" name="postCommentaire" />
		</p>
	</form>

	<h3>Commentaire</h3>
	<ul>
		{% for comment in commentaires %}
			<li><a href="mailto:{{ comment.author_mail }}">{{ comment.author }}</a> le {{ comment.date }}.</li>
			<li>
			{{ comment.text }}
			</li>
		{% endfor %}
	</ul>
{% endblock %}