p{ 
	margin-top : 0px; 
	margin-bottom : 0px; 
}

a img{
	border: none;
}

h1{
	font-family: "Cabin Condensed", "Lucida Sans", "Lucida Sans Unicode";
}

html{
	
	
	background-color: #ECEDED;

	min-width: 900px;
	font-family: "Lucida Sans", "Lucida Sans Unicode";
}

form .edit{
	background-image: url(../images/edit.png);
}

form .delete{
	background-image: url(../images/delete.png);
}



body{
	background-color: #ECEDED;
	margin: 0 auto; 
	max-width: 800 px;
	min-width: inherit;
	height: 100%;
}





.article{
	color: #666666;
	padding: 10px;
	text-align: justify;
	min-height: 260px;
}

.article:hover{
	padding: 10px;
	text-align: justify;
	min-height: 260px;
	background-color: #d4d4d4;
}

.article h1{
	color: #777777;
	margin: 0px;
	text-align: right;
}

.article  h5{
	color: #999999;
	margin: 0px;
	margin-bottom: 10px;
	text-align: right;
}

.article  h6{
	color: #999999;
	margin: 0px;
	margin-bottom: 10px;
	text-align: right;
}




.articlefull{
	padding: 10px;
	text-align: justify;
	min-height: 260px;
	background-color: #d4d4d4;
}

.articlefull h1{
	color: #777777;
	margin: 0px;
	text-align: right;
}

.articlefull  h5{
	color: #999999;
	margin: 0px;
	margin-bottom: 10px;
	text-align: right;
}

.articlefull  h6{
	color: #999999;
	margin: 0px;
	margin-bottom: 10px;
	text-align: right;
}


.suitelink{
	clear: both;
	float: right;
	height: 35px;
	width: 145px;
	background-image: url(../images/suite.png);
	margin-bottom: 10px;

}

.separateur {
	background-image: url(../images/separateur.png);
	height: 3px;
	width: 500px;
	margin: 30px;
	margin-right: auto;
	margin-left: auto;
}

table {
	background-size: 100% 100%;
}




.comment{
	color: #666666;
	padding: 10px;
	text-align: justify;
	min-height: 100px;
	background-color: #E6E6E6;
}

.comment:hover{
	padding: 10px;
	text-align: justify;
	min-height: 100px;
	background-color: #d4d4d4;
}

.comment  h5{
	color: #999999;
	margin: 0px;
	margin-bottom: 10px;
	text-align: left;
}

.comment  h3{
	color: #999999;
	margin: 0px;
	margin-bottom: 10px;
	text-align: left;
}

.comment  h6{
	color: #999999;
	margin: 0px;
	margin-bottom: 10px;
	text-align: left;
}
.comment a:link {
    color: #999999;
}

/* visited link */
.comment a:visited {
    color: #999999;
}

/* mouse over link */
.comment a:hover {
    color: #999999;
}

/* selected link */
.comment a:active {
    color: #999999;
}

.rightText {
	margin-right: 0px;
	text-align: right;
}